<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Store</title>

    <link th:href="@{../static/css/store-style.css}" rel="stylesheet">
    <link th:href="@{/css/store-style.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body style="background-color: #7a7a7a; overflow-y: auto">



    <div class="outer-div">
        <div class="outer-border">
            <div class="header-div">
                <div class="header-content">
                    <h1 class="header-class">THIS IS STORE YES</h1>

                    <a class="button-style" th:href="@{/}">cart</a>
                    <a th:href="@{/logout}" class="button-style">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-div">
        <div class="outer-border">

                <div class="store-content">

                    <div class="category-div">
                        <a class="category-style">thing 1</a>
                        <a class="category-style">thing 2</a>
                        <a class="category-style">thing 3</a>
                        <a class="category-style">thing 4</a>
                    </div>
                </div>
            <div class="header-div">
               <h1>HELLO</h1>
            </div>

            <div class="store-content">
                <table class="table table-bordered" id="table-id">
                    <thead class="thead-dark">
                        <tr>
                            <th>Product name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Stock</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="tempProduct : ${listProducts}">
                            <td th:text="${tempProduct.name}"></td>
                            <td th:text="${tempProduct.description}"></td>
                            <td th:text="${tempProduct.price}"></td>
                            <td th:text="${tempProduct.stock}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>