<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>

    <link th:href="@{../static/css/store-style.css}" rel="stylesheet">
    <link th:href="@{/css/store-style.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <h1>This is store yes</h1>
</body>
</html>