body{
    font-family: Arial, serif;
    background: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* #292D3EFF */

.outer-div{

    color: rgba(255, 255, 255, 0.48);
    background-color: rgba(255, 255, 255, 0.27);
    border: 1px solid rgba(241, 241, 235, 0.56);

    border-radius: 10px;
    padding: 32px;



    backdrop-filter:  blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    text-align: center;

    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 80%;
    width: 30%;
    min-height: 660px;
    min-width: 550px;
    margin-top: 200px;

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .outer-div {
        -webkit-backdrop-filter: saturate(100%) blur(10px);
        backdrop-filter: saturate(100%) blur(10px);
    }
}


.outer-border{
    filter: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 -1px 70px 6px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0 -1px 70px 6px rgba(0,0,0,0.55);
    -moz-box-shadow: 0 -1px 70px 6px rgba(0,0,0,0.55);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 95%;
    width: 95%;
    min-height: 600px;
    min-width: 500px;
    text-align: center;
}


.header-div{
    margin: 10px;
    color: #2f4858;
}

.menu-div{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 150px;
    height: 70%;
    width: 70%;
    align-content: center;
}




a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


.header-class{
    text-align: center;
    color: #2f4858;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    border: none;
    box-shadow: none;
}

.input-field input{
    font-size: 1.3rem;
    width: 20rem;
    background-color: transparent;
    border-bottom-color: #2f4858;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    color: #494949;
    text-align: center;
    margin-top: 70px;
}

input:focus{
    outline: none;
}

.button-style {
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 20px;
    top: 30%;
    left: 50%;
    border-radius: 40px;
    height: 55px;
    width: 150px;
    text-align: center;
    background-color: #ff1d63;
    color: white;
    margin-bottom: 10px;
}

.button-style-go-back {
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 40px;
    height: 55px;
    width: 150px;
    text-align: center;
    background-color: transparent;
    color: #ff1d63;
}

.button-div{
    margin-top: 10%;
    margin-bottom: 10%;

}

.button-go-back{
    transform: translate(-40%, -10%);
    top: 90%;
    left: 40%;
}