body{
    font-family: Arial, serif;
}





/* #292D3EFF */


.outer-div{
    color: rgba(255, 255, 255, 0.48);
    background-color: rgba(255, 255, 255, 0.27);
    border: 1px solid rgba(241, 241, 235, 0.56);
    border-radius: 10px;

    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 100px;

    backdrop-filter:  blur(10px);
    -webkit-backdrop-filter: blur(10px);

    text-align: center;
    height: 100%;
    width: 90%;




}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .outer-div {
        -webkit-backdrop-filter: saturate(100%) blur(10px);
        backdrop-filter: saturate(100%) blur(10px);
    }
}


.outer-border{
    filter: none;

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 -1px 70px 6px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0 -1px 70px 6px rgba(0,0,0,0.55);
    -moz-box-shadow: 0 -1px 70px 6px rgba(0,0,0,0.55);
    margin: 10px 15px;
    height: 97%;
    width: 98%;
    text-align: center;
}


.header-div{
    color: #2f4858;
}

.menu-div{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 70%;
    width: 70%;
    align-content: center;
}





a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


.header-class{
    text-align: center;
    color: #2f4858;
    padding: 10px;
    flex: 4;
}

.header-class h1{
    padding: 100px;
    text-align: center;
}

.header-content{
    display: flex;
}



a, a:focus, a:active, a:link {
    text-decoration: none !important;
    border: none !important;
    box-shadow: none !important;

}

a:hover{
    color: white !important;
}

.input-field input{
    font-size: 1.3rem;
    width: 300px;
    background-color: transparent;
    border-bottom-color: #5d5d5d;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    color: #494949;
    text-align: center;
    margin-top: 70px;
}

input:focus{
    outline: none;
}

.button-style {
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 1rem;
    top: 30%;
    left: 50%;
    border-radius: 40px;
    height: 45px;
    padding: 10px;
    text-align: center;
    background-color: #ff1d63;
    color: white;
    margin: 15px;
}

.store-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height:200px;
    width: 60%;
    border: solid rgba(47, 72, 88, 0.35) 1px;
    border-radius: 15px;
    margin: 30px;
}

.category-style{
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 1rem;
    left: 50%;
    border-radius: 40px;
    height: 75px;
    padding: 75px;
    text-align: center;
    background-color: #ff1d63;
    color: white !important;
    margin: 15px;
}

.button-style a, a:hover, a:focus, a:active{
    text-decoration: none !important;
    border: none !important;
    box-shadow: none !important;
}

.button-style-go-back {
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 40px;
    height: 55px;
    width: 150px;
    text-align: center;
    background-color: transparent;
    color: #ff1d63;
}

.button-div{
    margin-top: 100px;
    margin-bottom: 40px;
}

.button-go-back{
    transform: translate(-40%, -10%);
    top: 90%;
    left: 40%;
}