body{
    font-family: Arial, serif;
    background: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* #292D3EFF */

.outer-div{

    color: rgba(255, 255, 255, 0.48);
    background-color: rgba(255, 255, 255, 0.27);
    border: 1px solid rgba(241, 241, 235, 0.56);

    border-radius: 10px;
    padding: 32px;



    backdrop-filter:  blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    text-align: center;

    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 75%;
    width: 85%;
    max-width: 100%;
    margin-top: 200px;

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .outer-div {
        -webkit-backdrop-filter: saturate(100%) blur(10px);
        backdrop-filter: saturate(100%) blur(10px);
    }
}


table {
    width: 100%;
    color: #2f4858;
    border-bottom: none !important;
}

th, td{
    width: 263px;
    border: 1px solid black;
}

td{
    height: 10px;
}


thead>tr {
    position: relative;
    display: block;
}

tbody {
    display: block;
    height: 440px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}



.outer-border{
    filter: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 -1px 70px 6px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0 -1px 70px 6px rgba(0,0,0,0.55);
    -moz-box-shadow: 0 -1px 70px 6px rgba(0,0,0,0.55);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 95%;
    width: 97%;
    text-align: center;
}


.header-div{
    margin: 10px;
}



button:focus { outline: none; }

.button-div {
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 15px;
    top: 30%;
    left: 50%;
    border-radius: 40px;
    height: 35px;
    width: 100px;
    text-align: center;
    background-color: rgb(81, 56, 237);
    color: white;
}

.button-div-delete {
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 15px;
    top: 30%;
    left: 50%;
    border-radius: 40px;
    height: 35px;
    width: 100px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: white;
}

.button-div-go-back{
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 40px;
    height: 60px;
    width: 200px;
    text-align: center;
    background-color: #ff1d63;
    color: white;

}

.menu-div{
    margin: 67px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


.header-class{
    text-align: center;
    color: #2f4858;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    border: none;
    box-shadow: none;
}