<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

    <link th:href="@{../static/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

    <div class="outer-div">

        <div class="outer-border">

            <div class="header-div">
                <h1 class="header-class">Admin Page</h1>
            </div>




             <<div class="menu-div">

            <div class="button-div">
                <form action="/admin/manage_user">
                    <input type="submit" value="Users" class="button-style"/>
                </form>

                <form action="/admin/add_user">
                    <input type="submit" value="Add user" class="button-style"/>
                </form>

                <form action="/store/">
                    <input type="submit" value="Go to store" class="button-style"/>
                </form>

                <<form action="/logout">
                <input type="submit" value="Log out" class="button-style-logout"/>
            </form>
            </div>




            </div>
        </div>
    </div>
</body>
</html>