<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>

    <link th:href="@{../static/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

    <div class="outer-div">

        <div class="outer-border">

            <div class="header-div">
                <h1 class="header-class">Welcome lmao</h1>
            </div>


            <div class="menu-div">

                <form action="/users">
                    <input type="submit" value="Users" class="button-div-1"/>
                </form>

                <form action="/users">
                    <input type="submit" value="test" class="button-div-2"/>
                </form>

                <form action="/users">
                    <input type="submit" value="test" class="button-div-3"/>
                </form>


            </div>




        </div>
    </div>
</body>
</html>