<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>

    <link th:href="@{../static/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

    <div class="outer-div">

        <div class="outer-border">

            <div class="header-div">
                <h1 class="header-class">Welcome lmao</h1>
            </div>

            <div class="button-div">
                <h2><a href="/users">users</a></h2>
            </div>

        </div>
    </div>
</body>
</html>