<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href="@{../static/css/register-style.css}" rel="stylesheet">
    <link th:href="@{/css/register-style.css}" rel="stylesheet">
</head>
<body>
    <div class="outer-div">

        <div>

            <div class="header-div">
                <h1 class="header-class">Registration</h1>
            </div>


            <div class="input-field">
                <form action="#" method="post" th:action="@{/process_register}" th:object="${user}">
                    <input type="text" placeholder="First name" th:field="*{firstName}" required>
                    <input type="text" placeholder="Last name" th:field="*{lastName}" required>
                    <input type="email" placeholder="email" th:field="*{email}" required>
                    <input type="password" placeholder="password" th:field="*{password}" required>

                    <div class="button-div">
                        <button class="button-style" type="submit">Register</button>
                    </div>

                    <div>
                        <p>Already have an account? Log in <a th:href="login_page">here</a></p>
                    </div>
                </form>
            </div>



        </div>
    </div>
</body>
</html>