<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration complete</title>

    <link th:href="@{../static/css/user-created-style.css}" rel="stylesheet">
    <link th:href="@{/css/user-created-style.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="outer-div">

        <div class="outer-border">

            <div class="header-div">
                <h1 class="header-class">Congrats!</h1>
            </div>

            <div class="header-class">
                <h2>You have successfully created a user.</h2>
            </div>

            <div class="button-div">
                <a th:href="login"><button class="button-style">Back to login</button></a>
            </div>

        </div>
    </div>
</body>
</html>